$desctop-size: 15px;
$mobile-size: 14px;

// weight
$font-weight-normal: 300 !default;
$font-weight-bold: 500 !default;
$font-weight-ultra-bold: 700 !default;

//fonts
$fonts-comforta: 'Comfortaa', cursive;